@media screen and (max-width: 367px) {
    .four-0-four-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .four-0-four-img img {
      width: 20rem;
      height: 26rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .four-0-four-img .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .four-0-four-img .text h3 {
      font-size: 2rem;
      font-family: var(--error-font-1);
      color: red;
    }
    
    .four-0-four-img .text p{
        font-size: 1rem;
        font-family: var(--error-font-2);
    }
    
    .four-0-four-img .text a{
        background-color: lightgreen;
        color: #000;
        border: 0.5px solid #000;
        padding: 15px 25px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        font-weight: 600;
    }
    
    .four-0-four-img .text a:hover{
        background-color: rgb(66, 235, 66);
    }
  }

  @media screen and (min-width: 368px) {
    .four-0-four-img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .four-0-four-img img {
      width: 80%;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .four-0-four-img .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .four-0-four-img .text h3 {
      font-size: 3rem;
      font-family: var(--error-font-1);
      color: red;
    }
    
    .four-0-four-img .text p{
        font-size: 1.5rem;
        font-family: var(--error-font-2);
    }
    
    .four-0-four-img .text a{
        background-color: lightgreen;
        color: #000;
        border: 0.5px solid #000;
        padding: 20px 30px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        font-weight: 600;
    }
    
    .four-0-four-img .text a:hover{
        background-color: rgb(66, 235, 66);
    }
    
  }