@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*{
  list-style: none;
}

nav{
  padding: 2rem;
  box-shadow: -1px 5px 7px -1px rgba(0, 0, 0, 1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  position: relative;
}

.logo{
  font-size: 2rem;
  font-weight: 500;
  border: none;
  text-decoration: none !important;
  font-family: 'Pacifico', cursive;
  color: #000;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  nav ul a {
    background-color: #fff;
    color: #000;
    border: 0.5px solid #000;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  nav ul a:hover {
    text-decoration: underline;
    border: none;
  }

  .active{
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (max-width: 523px) {
    nav{
      flex-direction: column;
    }
    nav ul{
      flex-direction: column;
    }
    li{
      margin: 1rem 0;
    }
  }